
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
</head>
<body>
    <div> 
        Layout
        <div style="background-color:aqua">asd</div>
    </div>
</body>
</html>
